#top-div {
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#need {
    background-color: red;
    border-color: red;
    color: white;
}

#hire {
    color: white;
    background-color: #888888;
    border-color: #888888;
}

#top {
    margin: 16%;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: fantasys;
}

h2 {
    color: gainsboro;
    font-family: fantasys;
}

#nav {
    background-color: transparent;
    border: none;
    margin-top: 10px;
    color: white;
    font-family: fantasys;
}

#projects {
    background-color: black;
    color: #777777;
}

body {
    background-color: black;
}

.btn {
    font-family: fantasys;
}

#screenshot {
    height: 250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    display: block;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.text {
  white-space: nowrap;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.cover:hover #screenshot {
  opacity: 1;
}

.cover:hover .overlay {
    bottom: 0;
    height: 100%;
}

#visit {
    background-color: lightseagreen;
    color: white;
    border-color: lightseagreen;
}

#project-info {
    font-size: 15px;
    color: #888888;
}

#contact {
    margin: 12%;
    font-size: 15px;
    color: #888888;
}

#facebook {
    background-color: blue;
    border-color: blue;
    color: white;
    text-align: center;
}

#linkedin {
    background-color: dodgerblue;
    border-color: dodgerblue;
    color: white;
    text-align: center;
}

#github {
    background-color: #333333;
    color: white;
    border-color: #333333;
    text-align: center;
}

#fill {
    background-color: #777777;
    color: white;
    text-align: center;
    border-color: #333333;
}

#more-info {
    height: 420px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
