#top-div {
    background-repeat:no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#top {
    margin: 16%;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: fantasys;
    color: white;
}

p {
    color: white;
    font-family: "Times New Roman", Times, serif;
}
h2 {
    color: #888888;
    font-weight: bold;
    font-family: fantasys;
}

h4 {
    color: #888888;
    font-family: fantasys;
}

#nav {
    background-color: transparent;
    border: none;
    margin-top: 10px;
    color: white;
    font-family: fantasys;
}

body {
    background-color: black;
    color: white;
    background-image:url('/static/images/niki.jpg');
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn {
    font-family: fantasys;
    color: white;
    border-color: #171515;
    background-color: #333333;
    text-align: center;
    font-size: 15px;
}

#projects {
    background-repeat:no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#screenshot {
    height: 200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    display: block;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.text {
  white-space: nowrap;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.cover:hover #screenshot {
  opacity: 0.3;
}

.cover:hover .overlay {
    bottom: 0;
    height: 100%;
    opacity: 1;
}

#visit {
    background-color: lightseagreen;
    color: white;
    border-color: lightseagreen;
}

#project-info {
    font-size: 15px;
    color: #888888;
}

#contact {
    margin: 12%;
    font-size: 15px;
    color: #888888;
}

#facebook {
    color: #888888;
    text-align: center;
    font-size: 20pt;
    padding-right: 20px;
}

#linkedin {
    color: #888888;
    text-align: center;
    font-size: 20pt;
    padding-right: 20px;
}

#github {
    color: #888888;
    text-align: center;
    font-size: 20pt;
}

#fill {
    background-color: #333333;
    color: #888888;
    text-align: center;
    border-color: #333333;
}

#more-info {
    height: 420px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20pt;
}
