{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    {% block styles %}

        {% bootstrap_css %}

        <link rel="stylesheet" href="{% static 'css/index.css' %}">

        <link rel="stylesheet" href="{% static 'css/preloader.css' %}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    {% endblock %}

</head>
<body>

    {% block content %}

        {{ block.super }}

            <!--<div id="loader-wrapper">-->

                <!--<div id="loader"></div>-->

                <!--<div class="loader-section section-left"></div>-->

                <!--<div class="loader-section section-right"></div>-->

            <!--</div>-->

            <div class="container" id="project-info">

                {% include 'navbar.html' %}

                <div class="col-sm-1 col-md-1 col-lg-1"></div>

                <div class="col-sm-10 col-md-10 col-lg-10">

                <br>
                <br>

                {% if project %}

                    <h2> {{ project.name }} </h2>

                    <p> {{ project.about }} </p>

                <br>

                <a href="{{project.deployed_site}}" target="_blank" class="btn btn-default" id="visit"> <i class="fa fa-external-link" aria-hidden="true"></i> VISIT THE WEBSITE </a>

                <br> <br>

                    <img src="{{ project.screenshots.url }}" alt="image" class="img-responsive" id="more-info">


                <h2> Description </h2>

                    <p> {{ project.description }} </p>

                <h2> Technical Sheet </h2>

                    <p style="font-size: 20px; color: #999999"> {{ project.tech_sheet|linebreaks }}</p>


                <h2> Technologies </h2>

                    <p style="list-style-type: circle; padding-left: 5px; font-family: fantasy;"> {{ project.tech|linebreaks }}</p>


                    {% endif %}


                    {% if project.deployed_site %}

                        <h2> Resources </h2>

                        <p> The project is online at <a href="{{ project.deployed_site }}" target="_blank">{{ project.deployed_site }}</a> </p>

                    {% else %}

                    {% endif %}


                    {% if project.github_repo %}

                        <h2> Resources </h2>

                        <p> Access this project's code on it's <a href="{{ project.github_repo }}" target="_blank"> GITHUB PAGE </a> </p>

                    {% else %}

                    {% endif %}



                </div>

                <div class="col-sm-1 col-md-1 col-lg-1"></div>


            </div>

    {% endblock %}

    {% block scripts %}

        {{block.super}}

            <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    {% endblock %}

</body>
</html>