{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


    {%if title%}

        <title> {{title}} </title>

    {%else%}

        <title> Web Portfolio | Erick Mutua </title>

  {%endif%}


    {% block styles %}

        {% bootstrap_css %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <link color="icon" href="<i class='fa fa-user' aria-hidden="true"></i>" />

    {% endblock %}

</head>

<body>

{% block body %}




        {% block content %}

            {{ block.super }}


        {%endblock%}


    {% block scripts %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        {% bootstrap_javascript %}

    {% endblock %}

{% endblock %}

</body>

</html>