{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    {% block styles %}

        {% bootstrap_css %}

        <link rel="stylesheet" href="{% static 'css/index.css' %}">

        <link rel="stylesheet" href="{% static 'css/preloader.css' %}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    {% endblock %}

</head>
<body>

    {% block content %}

        {{ block.super }}

                <!--<div id="loader-wrapper">-->

                    <!--<div id="loader"></div>-->
                    <!--s-->
                    <!--<div class="loader-section section-left"></div>-->

                    <!--<div class="loader-section section-right"></div>-->

                <!--</div>-->


            {% include 'navbar.html' %}

                <div class="container" id="contact">

                    <div class="col-sm-1 col-md-1 col-lg-1"></div>

                        <div class="col-sm-10 col-md-10 col-lg-10">

                            <h2> Get in touch </h2>

                            <br>

                            <p> Want to get in touch or talk to me about a project? </p>

                            <p> Send me an email to <a href="rick.mutua12@gmail.com">mutuaerick08@gmail.com</a> and lets talk. </p>

                            <br>

                            <br>

                            <p> Let's get social? Follow my online profiles on Facebook, LinkedIn and Github. </p>

                            <br>

                            <div>

                                <p>
                                    <a href="" target="_blank" id="facebook"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
                                    <a href="https://www.linkedin.com/in/erick-mutua-a46566146" target="_blank" id="linkedin"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a>
                                    <a href="https://github.com/rickmutua" target="_blank" id="github"> <i class="fa fa-github" aria-hidden="true"> </i> </a>
                                </p>

                            </div>

                        </div>

                    <div class="col-sm-1 col-md-1 col-lg-1"></div>

                </div>


    {% endblock %}

    {% block scripts %}

        {{block.super}}

            <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    {% endblock %}


</body>
</html>