{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ title }}</title>

    {% block styles %}

        {% bootstrap_css %}

        <link rel="icon" href="{% static 'images/favicon.ico' %}">

        <link rel="stylesheet" href="{% static 'css/index.css' %}">

        <link rel="stylesheet" href="{% static 'css/preloader.css' %}">

    {% endblock %}


</head>
<body>

    {% block content %}

        {{ block.super }}

            <div id="loader-wrapper">

                <div id="loader"></div>

                <div class="loader-section section-left"></div>

                <div class="loader-section section-right"></div>

            </div>

            <div class="container-fluid" id="top-div" style="background-image: url({% static 'images/niki.jpg' %}); height: 100%">

                {% include 'navbar.html' %}

                <div id="top">

                    <h1> Full-Stack Web & Software Developer </h1>

                    <br>

                    <p style="font-size: 17px;">
                        Hey, I'm a software developer from Nairobi, Kenya. I can help you build your next product. I design, build and operate web applications.
                    </p>

                    <br>

                    <p>
                        <a href="https://goo.gl/forms/flzc3AZ7OuL3dy9i2" target="_blank" class="btn btn-default" id="need"> I need a website <i class="glyphicon glyphicon-chevron-right"></i> </a>

                        <a href="{% url 'contact' %}" class="btn btn-default" id="hire"> I'm looking to hire <i class="glyphicon glyphicon-chevron-right"></i> </a>
                    </p>

                </div>

            </div>

    {% endblock %}

    {% block scripts %}

        {{block.super}}

            <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    {% endblock %}

</body>
</html>